flows.json
[
  {
    "id": "f1c3bb0e.a936f",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "7b77d71d.d98f",
    "type": "subflow",
    "name": "Vorblock",
    "info": "",
    "category": "",
    "in": [{ "x": 120, "y": 300, "wires": [{ "id": "3f9e8bf1.8626b4" }] }],
    "out": [
      { "x": 780, "y": 300, "wires": [{ "id": "37dc8904.0d4aa6", "port": 0 }] }
    ],
    "env": [],
    "color": "#DDAA99"
  },
  {
    "id": "4543380.13c64c8",
    "type": "ui_base",
    "theme": {
      "name": "theme-custom",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0432ff",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#ff9300",
        "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
        "edited": true,
        "reset": false
      },
      "customTheme": {
        "name": "Solar1",
        "default": "#4B7930",
        "baseColor": "#004d65",
        "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
        "reset": false
      },
      "themeState": {
        "base-color": {
          "default": "#ff40ff",
          "value": "#004d65",
          "edited": true
        },
        "page-titlebar-backgroundColor": {
          "value": "#004d65",
          "edited": false
        },
        "page-backgroundColor": { "value": "#111111", "edited": false },
        "page-sidebar-backgroundColor": { "value": "#333333", "edited": false },
        "group-textColor": { "value": "#0087b1", "edited": false },
        "group-borderColor": { "value": "#555555", "edited": false },
        "group-backgroundColor": { "value": "#333333", "edited": false },
        "widget-textColor": { "value": "#eeeeee", "edited": false },
        "widget-backgroundColor": { "value": "#004d65", "edited": false },
        "widget-borderColor": { "value": "#333333", "edited": false },
        "base-font": {
          "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey"
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "34036145.a274a6",
    "type": "ui_tab",
    "z": "",
    "name": "Betriebsdaten",
    "icon": "fa-thermometer-full",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "6d76b9fb.78fc7",
    "type": "ui_group",
    "z": "",
    "name": "Kollektor",
    "tab": "34036145.a274a6",
    "order": 2,
    "disp": true,
    "width": 6,
    "collapse": true
  },
  {
    "id": "d7cd3baa.1c9f58",
    "type": "ui_group",
    "z": "",
    "name": "Boiler",
    "tab": "34036145.a274a6",
    "order": 3,
    "disp": true,
    "width": 6,
    "collapse": true
  },
  {
    "id": "fc20bdb.4dbee4",
    "type": "ui_group",
    "z": "",
    "name": "Erdsonde",
    "tab": "34036145.a274a6",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": true
  },
  {
    "id": "1acdcf63.66bd71",
    "type": "ui_group",
    "z": "",
    "name": "Status",
    "tab": "34036145.a274a6",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": true
  },
  {
    "id": "94a35.8076edcb8",
    "type": "ui_group",
    "z": "",
    "name": "Temperaturen Kollektor",
    "tab": "3598467a.73619a",
    "order": 2,
    "disp": true,
    "width": "24",
    "collapse": true
  },
  {
    "id": "3598467a.73619a",
    "type": "ui_tab",
    "z": "",
    "name": "24h Verlauf",
    "icon": "fa-area-chart",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "2f5003a7.2814a4",
    "type": "ui_group",
    "z": "",
    "name": "Betriebsdaten",
    "tab": "3598467a.73619a",
    "order": 1,
    "disp": true,
    "width": "24",
    "collapse": true
  },
  {
    "id": "3d37f638.326cea",
    "type": "ui_group",
    "z": "",
    "name": "Temperaturen Boiler",
    "tab": "3598467a.73619a",
    "order": 3,
    "disp": true,
    "width": "24",
    "collapse": true
  },
  {
    "id": "ff0c4212.c23fe8",
    "type": "ui_tab",
    "z": "",
    "name": "7d Verlauf",
    "icon": "fa-area-chart",
    "order": 4,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "e51e3eb8.acb06",
    "type": "ui_group",
    "z": "",
    "name": "Betriebsdaten",
    "tab": "ff0c4212.c23fe8",
    "order": 1,
    "disp": true,
    "width": "24",
    "collapse": true
  },
  {
    "id": "f032d17b.aeb19",
    "type": "ui_group",
    "z": "",
    "name": "Temperaturen Sole",
    "tab": "3598467a.73619a",
    "order": 4,
    "disp": true,
    "width": "24",
    "collapse": true
  },
  {
    "id": "c75d56f6.ffaa2",
    "type": "ui_group",
    "z": "",
    "name": "Temperaturen Kollektor",
    "tab": "ff0c4212.c23fe8",
    "order": 2,
    "disp": true,
    "width": "24",
    "collapse": true
  },
  {
    "id": "410f226.2f40c5c",
    "type": "ui_group",
    "z": "",
    "name": "Temperaturen Boiler",
    "tab": "ff0c4212.c23fe8",
    "order": 3,
    "disp": true,
    "width": "24",
    "collapse": true
  },
  {
    "id": "378c2b97.a66624",
    "type": "ui_group",
    "z": "",
    "name": "Temperaturen Sole",
    "tab": "ff0c4212.c23fe8",
    "order": 4,
    "disp": true,
    "width": "24",
    "collapse": true
  },
  {
    "id": "5e1d7d27.def5ac",
    "type": "ui_tab",
    "z": "",
    "name": "Einstellungen",
    "icon": "fa-cogs",
    "order": 5,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "f06466fe.17f94",
    "type": "ui_group",
    "z": "",
    "name": "Legionellenschaltung",
    "tab": "5e1d7d27.def5ac",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "7f1ace4d.b9ec6",
    "type": "ui_group",
    "z": "",
    "name": "Energiemessung Boiler",
    "tab": "a8de53da.8061f8",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "b7e6fa0.56c5488",
    "type": "ui_group",
    "z": "",
    "name": "Betriebsmodus ändern",
    "tab": "5e1d7d27.def5ac",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "a8de53da.8061f8",
    "type": "ui_tab",
    "z": "",
    "name": "Energiedaten",
    "icon": "fa-battery-three-quarters",
    "order": 2,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "16e2db90.cde8a4",
    "type": "ui_group",
    "z": "",
    "name": "Energiemessung Sole",
    "tab": "a8de53da.8061f8",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "253ada68.f5bee6",
    "type": "ui_group",
    "z": "",
    "name": "Geschwindigkeit Kollektorpumpe",
    "tab": "5e1d7d27.def5ac",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "576e313e.2cc768",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "7f1ace4d.b9ec6",
    "order": 6,
    "width": 1,
    "height": 1
  },
  {
    "id": "4c827154.9f6ba",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "16e2db90.cde8a4",
    "order": 6,
    "width": 1,
    "height": 1
  },
  {
    "id": "7847ec5d.e44384",
    "type": "ui_group",
    "z": "",
    "name": "Energiemessung",
    "tab": "5e1d7d27.def5ac",
    "order": 4,
    "disp": true,
    "width": "6",
    "collapse": true
  },
  {
    "id": "5985cf37.8d0c48",
    "type": "mqtt-broker",
    "z": "",
    "name": "mqtt_broker",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  },
  {
    "id": "c6ec464d.b9e02",
    "type": "ui_group",
    "z": "",
    "name": "System",
    "tab": "5e1d7d27.def5ac",
    "order": 5,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "fe50bc3d.da02c",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 1,
    "width": 1,
    "height": 1
  },
  {
    "id": "dcf9870f.5754d8",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 3,
    "width": 1,
    "height": 1
  },
  {
    "id": "dce891fe.f432d",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 4,
    "width": 1,
    "height": 1
  },
  {
    "id": "86abe6a1.791e2",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 5,
    "width": 1,
    "height": 1
  },
  {
    "id": "abdef50b.dde14",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 6,
    "width": 1,
    "height": 1
  },
  {
    "id": "7452910a.0acbd",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 7,
    "width": 1,
    "height": 1
  },
  {
    "id": "4a82daf5.cd03ec",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 11,
    "width": 1,
    "height": 1
  },
  {
    "id": "499f5237.fd8964",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 13,
    "width": 1,
    "height": 1
  },
  {
    "id": "78c29bfc.172044",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 14,
    "width": 1,
    "height": 1
  },
  {
    "id": "e59df8f8.d63f68",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 15,
    "width": 1,
    "height": 1
  },
  {
    "id": "65a277a8.d4c0e",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 16,
    "width": 1,
    "height": 1
  },
  {
    "id": "f69d6f04.f33d28",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "6d76b9fb.78fc7",
    "order": 17,
    "width": 1,
    "height": 1
  },
  {
    "id": "8de43d88.d0d128",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d7cd3baa.1c9f58",
    "order": 1,
    "width": 1,
    "height": 1
  },
  {
    "id": "160fd6d1.a812c9",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d7cd3baa.1c9f58",
    "order": 3,
    "width": 1,
    "height": 1
  },
  {
    "id": "3dfbd7cd.5dc63",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d7cd3baa.1c9f58",
    "order": 4,
    "width": 1,
    "height": 1
  },
  {
    "id": "30a0d524.a103a2",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d7cd3baa.1c9f58",
    "order": 5,
    "width": 1,
    "height": 1
  },
  {
    "id": "647e2696.0c5618",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d7cd3baa.1c9f58",
    "order": 6,
    "width": 1,
    "height": 1
  },
  {
    "id": "f75ade4f.ca3c88",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "d7cd3baa.1c9f58",
    "order": 7,
    "width": 1,
    "height": 1
  },
  {
    "id": "da91855.0a3e7f8",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "fc20bdb.4dbee4",
    "order": 1,
    "width": 1,
    "height": 1
  },
  {
    "id": "b45a306e.3ccee8",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "fc20bdb.4dbee4",
    "order": 3,
    "width": 1,
    "height": 1
  },
  {
    "id": "5c6bc7fa.247778",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "fc20bdb.4dbee4",
    "order": 4,
    "width": 1,
    "height": 1
  },
  {
    "id": "61c0b9c7.24c968",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "fc20bdb.4dbee4",
    "order": 5,
    "width": 1,
    "height": 1
  },
  {
    "id": "13622ba.afd83d4",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "fc20bdb.4dbee4",
    "order": 6,
    "width": 1,
    "height": 1
  },
  {
    "id": "112ddf69.d8b3a9",
    "type": "ui_spacer",
    "name": "spacer",
    "group": "fc20bdb.4dbee4",
    "order": 7,
    "width": 1,
    "height": 1
  },
  {
    "id": "3f9e8bf1.8626b4",
    "type": "function",
    "z": "7b77d71d.d98f",
    "name": "",
    "func": "if(msg.payload != 'NaN')\n{\n    number = Number(msg.payload);\n}\nelse\n{\n   number = -99.9; \n}\nreturn {payload: number, topic: msg.topic};",
    "outputs": 1,
    "noerr": 0,
    "x": 250,
    "y": 300,
    "wires": [["8ea1a56f.f38c8"]]
  },
  {
    "id": "37dc8904.0d4aa6",
    "type": "rbe",
    "z": "7b77d71d.d98f",
    "name": "",
    "func": "deadbandEq",
    "gap": "1%",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 650,
    "y": 300,
    "wires": [[]]
  },
  {
    "id": "8ea1a56f.f38c8",
    "type": "rbe",
    "z": "7b77d71d.d98f",
    "name": "",
    "func": "deadbandEq",
    "gap": "0.4",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 450,
    "y": 300,
    "wires": [["37dc8904.0d4aa6"]]
  },
  {
    "id": "447f9e3b.0fcaf8",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/fuehlerKollektorVL",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 130,
    "y": 940,
    "wires": [["4ff8f321.1644cc", "b09ee378.246b78", "d92b3dd.1b188c"]]
  },
  {
    "id": "8dd57a80.8469",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "6d76b9fb.78fc7",
    "order": 8,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Kollektor Vorlauf",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": "-20",
    "max": "130",
    "colors": ["#0432ff", "#00fa00", "#ff2600"],
    "seg1": "25",
    "seg2": "",
    "x": 1840,
    "y": 940,
    "wires": []
  },
  {
    "id": "43094d4d.6364dc",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/fuehlerKollektorLuft",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 140,
    "y": 1160,
    "wires": [["4fd44c34.96d27c", "6971d0e6.34f6f8", "7ce2c9f0.3bf96"]]
  },
  {
    "id": "f4df7b18.cdc218",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "6d76b9fb.78fc7",
    "order": 2,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "Kollektor Luft",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": "-20",
    "max": "130",
    "colors": ["#0432ff", "#00fa00", "#ff2600"],
    "seg1": "30",
    "seg2": "",
    "x": 1840,
    "y": 1160,
    "wires": []
  },
  {
    "id": "f71fea96.23c85",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/fuehlerBoiler/1",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 120,
    "y": 1360,
    "wires": [["2cb1d650.56b00a", "945827e5.166298", "e11b6641.90a908"]]
  },
  {
    "id": "6c39651f.c6f8d4",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "d7cd3baa.1c9f58",
    "order": 2,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "Boilertemperatur",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": "10",
    "max": "80",
    "colors": ["#0432ff", "#00fa00", "#ff2600"],
    "seg1": "",
    "seg2": "",
    "x": 1850,
    "y": 1360,
    "wires": []
  },
  {
    "id": "5bd30a24.8d91ec",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "d7cd3baa.1c9f58",
    "order": 10,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Boiler VL",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": "10",
    "max": "80",
    "colors": ["#0056d6", "#00fa00", "#ff2600"],
    "seg1": "",
    "seg2": "",
    "x": 1820,
    "y": 1800,
    "wires": []
  },
  {
    "id": "5abbe187.c739a",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/fuehlerBoilerVL",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 120,
    "y": 1800,
    "wires": [
      ["9e3f21fe.98773", "9c79a0b7.0506c", "8bc6a7bc.e07f", "4e5c1856.4fe"]
    ]
  },
  {
    "id": "108fb887.1d6a27",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/fuehlerBoilerRL",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 120,
    "y": 2040,
    "wires": [
      ["f7a4d8cb.7b6ad8", "bc49dad2.a78c38", "bc855e5.28a4e2", "25f900.65f6ff"]
    ]
  },
  {
    "id": "147ca1ea.004036",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "d7cd3baa.1c9f58",
    "order": 11,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Boiler RL",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": "10",
    "max": "80",
    "colors": ["#0056d6", "#00fa00", "#ff2600"],
    "seg1": "",
    "seg2": "",
    "x": 1820,
    "y": 2040,
    "wires": []
  },
  {
    "id": "2288a7cd.c424d8",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/fuehlerSole",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 110,
    "y": 2280,
    "wires": [
      [
        "3a03f5a5.f9fe9a",
        "2b759d1f.d0a7ba",
        "b767dd2c.eb36e8",
        "cdd9fb6d.524d88"
      ]
    ]
  },
  {
    "id": "4a8c4c2.2b5b534",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "fc20bdb.4dbee4",
    "order": 2,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "Erdsonde VL",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": "0",
    "max": "50",
    "colors": ["#0056d6", "#00fa00", "#ff2600"],
    "seg1": "",
    "seg2": "35",
    "x": 1830,
    "y": 2280,
    "wires": []
  },
  {
    "id": "ca93ff02.d7fb08",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "6d76b9fb.78fc7",
    "order": 9,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Kollektorpumpe",
    "label": "%",
    "format": "{{value | number:0}}",
    "min": "0",
    "max": "100",
    "colors": ["#929292", "#00fa00", "#ff2600"],
    "seg1": "20",
    "seg2": "70",
    "x": 1840,
    "y": 340,
    "wires": []
  },
  {
    "id": "212cf9d0.d0c3ee",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/fuehlerSoleVL",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 110,
    "y": 2500,
    "wires": [
      [
        "e7041ae3.2b9f78",
        "ff9aa4f5.4fed88",
        "9ff3e172.e63fd",
        "7a7d22f2.165f2c"
      ]
    ]
  },
  {
    "id": "9feb0b24.9c7d48",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "fc20bdb.4dbee4",
    "order": 8,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Wärmetauscher VL",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": "0",
    "max": "100",
    "colors": ["#0056d6", "#00fa00", "#ff2600"],
    "seg1": "",
    "seg2": "",
    "x": 1850,
    "y": 2500,
    "wires": []
  },
  {
    "id": "6753a9dc.888cd8",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/fuehlerSoleRL",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 110,
    "y": 2740,
    "wires": [
      ["834e5464.2151a8", "a33eca1b.33f7e8", "ba5e0159.5a668", "ffa73c6.f9eaa4"]
    ]
  },
  {
    "id": "7688d6f1.1aabe8",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "fc20bdb.4dbee4",
    "order": 9,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "Wärmetauscher RL",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": "0",
    "max": "50",
    "colors": ["#0056d6", "#00fa00", "#ff2600"],
    "seg1": "",
    "seg2": "",
    "x": 1850,
    "y": 2740,
    "wires": []
  },
  {
    "id": "ffc1b408.e35348",
    "type": "ui_led",
    "z": "f1c3bb0e.a936f",
    "group": "1acdcf63.66bd71",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "Onlinestatus",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "green", "value": "true", "valueType": "bool" },
      { "color": "red", "value": "false", "valueType": "bool" }
    ],
    "allowColorForValueInMessage": false,
    "name": "Status",
    "x": 1810,
    "y": 880,
    "wires": []
  },
  {
    "id": "118f4d92.31551a",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "true",
    "op2": "false",
    "op1type": "bool",
    "op2type": "bool",
    "duration": "15",
    "extend": true,
    "units": "s",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 1470,
    "y": 880,
    "wires": [["ffc1b408.e35348"]]
  },
  {
    "id": "d6b08b3.08e9ef8",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "1acdcf63.66bd71",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Betriebsmodus",
    "label": "Betriebsmodus",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1840,
    "y": 80,
    "wires": []
  },
  {
    "id": "4951e5e1.20ec14",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/operationMode",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 120,
    "y": 80,
    "wires": [["53e4d0a.8d7663", "86d8c82f.9fa0b", "14e06a3a.560e26"]]
  },
  {
    "id": "6347da52.33a204",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/speedKollektorPumpe",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 140,
    "y": 340,
    "wires": [["57e7c69b.c85f28"]]
  },
  {
    "id": "57e7c69b.c85f28",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "pwm = (msg.payload / 2.55) - 15;\nvalue = pwm * (9/8) + 10;\nif (value > 100){\n    value = 100;\n}\nelse if (value < 0){\n    value = 0;\n}\nreturn {payload: value, topic:msg.topic};",
    "outputs": 1,
    "noerr": 0,
    "x": 850,
    "y": 340,
    "wires": [["ca93ff02.d7fb08", "f69daab.d29ef58", "5b456a53.5af48c"]]
  },
  {
    "id": "fb92f969.675e98",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/kollektorPumpe",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 120,
    "y": 280,
    "wires": [["fbe0985.94d3168"]]
  },
  {
    "id": "4e265265.a75454",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/solePumpe",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 110,
    "y": 520,
    "wires": [["8321d06c.ddce88"]]
  },
  {
    "id": "14e29770.b35d29",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/stellwerkSoleBoiler",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 130,
    "y": 640,
    "wires": [["87926d3b.ee8fe"]]
  },
  {
    "id": "93045e14.c0a1a",
    "type": "ui_led",
    "z": "f1c3bb0e.a936f",
    "group": "1acdcf63.66bd71",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "Kollektorpumpe",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "red", "value": "0", "valueType": "str" },
      { "color": "green", "value": "1", "valueType": "str" }
    ],
    "allowColorForValueInMessage": false,
    "name": "Kollektorpumpe",
    "x": 1840,
    "y": 280,
    "wires": []
  },
  {
    "id": "c487f41e.9e60a",
    "type": "ui_led",
    "z": "f1c3bb0e.a936f",
    "group": "1acdcf63.66bd71",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "Solepumpe",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "red", "value": "0", "valueType": "str" },
      { "color": "green", "value": "1", "valueType": "str" }
    ],
    "allowColorForValueInMessage": false,
    "name": "Solepumpe",
    "x": 1830,
    "y": 560,
    "wires": []
  },
  {
    "id": "bf688cc9.f7f498",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "1acdcf63.66bd71",
    "order": 6,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Stellwerk Solar",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1840,
    "y": 640,
    "wires": []
  },
  {
    "id": "87926d3b.ee8fe",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "payl",
    "duration": "-10",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 910,
    "y": 640,
    "wires": [["2315aeba.83abaa"]]
  },
  {
    "id": "6b15c3e9.4fab34",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "payl",
    "duration": "-30",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 930,
    "y": 80,
    "wires": [
      ["780bae49.1c24b8", "46922d47.207154", "d0770c1b.1d626", "cb4b5bd8.548a2"]
    ]
  },
  {
    "id": "8321d06c.ddce88",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "payl",
    "duration": "-10",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 910,
    "y": 520,
    "wires": [["c487f41e.9e60a"]]
  },
  {
    "id": "fbe0985.94d3168",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "payl",
    "duration": "-10",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 910,
    "y": 280,
    "wires": [["93045e14.c0a1a"]]
  },
  {
    "id": "2315aeba.83abaa",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "Wärmetauscher",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "2",
        "fromt": "str",
        "to": "Boiler",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1480,
    "y": 640,
    "wires": [["bf688cc9.f7f498"]]
  },
  {
    "id": "4ff8f321.1644cc",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "2",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1500,
    "y": 980,
    "wires": [["ff59eb6b.f0332"]]
  },
  {
    "id": "cc085d17.422858",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "94a35.8076edcb8",
    "order": 2,
    "width": 24,
    "height": 6,
    "label": "Vorlauf Kollektor",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "700",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2180,
    "y": 980,
    "wires": [[]]
  },
  {
    "id": "ecc83b19.c913",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "94a35.8076edcb8",
    "order": 1,
    "width": 24,
    "height": 6,
    "label": "Luft Kollektor",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "700",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#ff7f0e",
      "#98df8a",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2180,
    "y": 1200,
    "wires": [[]]
  },
  {
    "id": "8103c33b.f56f9",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "3d37f638.326cea",
    "order": 2,
    "width": 24,
    "height": 6,
    "label": "Boiler VL",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "700",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2160,
    "y": 1840,
    "wires": [[]]
  },
  {
    "id": "8d419bc.8657c68",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "3d37f638.326cea",
    "order": 3,
    "width": 24,
    "height": 6,
    "label": "Boiler RL",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "700",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2160,
    "y": 2080,
    "wires": [[]]
  },
  {
    "id": "b7c1a0f0.b56f18",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "f032d17b.aeb19",
    "order": 1,
    "width": 24,
    "height": 6,
    "label": "Erdsonde VL",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "700",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2170,
    "y": 2320,
    "wires": [[]]
  },
  {
    "id": "9eb583b6.7103e",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "f032d17b.aeb19",
    "order": 2,
    "width": 24,
    "height": 6,
    "label": "Wärmetauscher VL",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "700",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2190,
    "y": 2540,
    "wires": [[]]
  },
  {
    "id": "f10a9dd1.9dd65",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "f032d17b.aeb19",
    "order": 3,
    "width": 24,
    "height": 6,
    "label": "Wärmetauscher RL",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "700",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2190,
    "y": 2780,
    "wires": [[]]
  },
  {
    "id": "780bae49.1c24b8",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "2f5003a7.2814a4",
    "order": 1,
    "width": 24,
    "height": 6,
    "label": "Betriebsmodus",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "step",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2180,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "bd981d93.a9869",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/message",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 100,
    "y": 3100,
    "wires": [["3c08f706.e603"]]
  },
  {
    "id": "2cadaef2.40819a",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/alarm",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 90,
    "y": 3160,
    "wires": [["9fb8e1ca.86b8b8", "cf86bb93.b115c"]]
  },
  {
    "id": "3c08f706.e603",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "top right",
    "displayTime": "20",
    "highlight": "",
    "sendall": true,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "Benachrichtigung:",
    "name": "",
    "x": 890,
    "y": 3100,
    "wires": []
  },
  {
    "id": "9fb8e1ca.86b8b8",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "20",
    "highlight": "",
    "sendall": true,
    "outputs": 1,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "ALARM!",
    "name": "",
    "x": 870,
    "y": 3160,
    "wires": [["cf86bb93.b115c"]]
  },
  {
    "id": "29d1037c.e34974",
    "type": "ui_audio",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "1acdcf63.66bd71",
    "voice": "de-DE",
    "always": true,
    "x": 1500,
    "y": 3200,
    "wires": []
  },
  {
    "id": "1243b5ff.21a6b2",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/boilerTermostat",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 120,
    "y": 700,
    "wires": [["ab02d6c3.24c37"]]
  },
  {
    "id": "ab02d6c3.24c37",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "d7cd3baa.1c9f58",
    "order": 12,
    "width": 0,
    "height": 0,
    "name": "Boiler Solltemperatur",
    "label": "Boiler Solltemperatur",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1860,
    "y": 700,
    "wires": []
  },
  {
    "id": "8a48776e.ef6e",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/boilerLegionellenTemperatur",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 160,
    "y": 760,
    "wires": [["921aa7a4.4cebb"]]
  },
  {
    "id": "6477fc58.36eeb4",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "d7cd3baa.1c9f58",
    "order": 13,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Letztmals bei 65 °C",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1850,
    "y": 760,
    "wires": []
  },
  {
    "id": "921aa7a4.4cebb",
    "type": "moment",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "",
    "input": "",
    "inputType": "date",
    "inTz": "Europe/Zurich",
    "adjAmount": 0,
    "adjType": "days",
    "adjDir": "add",
    "format": "DD.MM.YY",
    "locale": "de_DE",
    "output": "payload",
    "outputType": "msg",
    "outTz": "Europe/Zurich",
    "x": 900,
    "y": 760,
    "wires": [["6477fc58.36eeb4"]]
  },
  {
    "id": "e8f51e.2876fae",
    "type": "comment",
    "z": "f1c3bb0e.a936f",
    "name": "Betriebsdaten",
    "info": "",
    "x": 1830,
    "y": 40,
    "wires": []
  },
  {
    "id": "a07cb159.f1e4d",
    "type": "comment",
    "z": "f1c3bb0e.a936f",
    "name": "24h Rückblick",
    "info": "",
    "x": 2170,
    "y": 40,
    "wires": []
  },
  {
    "id": "548ee06b.5826e8",
    "type": "comment",
    "z": "f1c3bb0e.a936f",
    "name": "7d Rückblick",
    "info": "",
    "x": 2490,
    "y": 40,
    "wires": []
  },
  {
    "id": "5ffc0036.60258",
    "type": "comment",
    "z": "f1c3bb0e.a936f",
    "name": "Speichern",
    "info": "",
    "x": 2820,
    "y": 40,
    "wires": []
  },
  {
    "id": "570c4709.109fa8",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "e51e3eb8.acb06",
    "order": 1,
    "width": 24,
    "height": 6,
    "label": "Betriebsmodus",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "step",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2500,
    "y": 200,
    "wires": [[]]
  },
  {
    "id": "f69daab.d29ef58",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1510,
    "y": 380,
    "wires": [["f4ca6264.967ad"]]
  },
  {
    "id": "349c9f77.78bcd",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "e51e3eb8.acb06",
    "order": 2,
    "width": 24,
    "height": 6,
    "label": "Pumpengeschwindigkeit",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "step",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2530,
    "y": 440,
    "wires": [[]]
  },
  {
    "id": "5b456a53.5af48c",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1510,
    "y": 440,
    "wires": [["69631f9b.1c8e5"]]
  },
  {
    "id": "af4fb62e.6284",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/operationMode.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3110,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "1ccb0bbd.858a9c",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 240,
    "wires": [["af4fb62e.6284"]]
  },
  {
    "id": "97267053.e007f8",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 240,
    "wires": [["1ccb0bbd.858a9c"]]
  },
  {
    "id": "db732d8f.1f4a9",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/kollektorPumpeGeschwindigkeit.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3160,
    "y": 500,
    "wires": [[]]
  },
  {
    "id": "617a9f6a.d727c",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 500,
    "wires": [["db732d8f.1f4a9"]]
  },
  {
    "id": "3db183c2.353ddc",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 500,
    "wires": [["617a9f6a.d727c"]]
  },
  {
    "id": "b09ee378.246b78",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1510,
    "y": 1020,
    "wires": [["3dfed479.9bf7d4"]]
  },
  {
    "id": "e0a65788.97a828",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/temperaturKollektorVorlauf.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3140,
    "y": 1080,
    "wires": [[]]
  },
  {
    "id": "a1a45d2a.a0ff",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 1080,
    "wires": [["e0a65788.97a828"]]
  },
  {
    "id": "7d0d57d9.f69858",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 1080,
    "wires": [["a1a45d2a.a0ff"]]
  },
  {
    "id": "4fd44c34.96d27c",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "2",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1500,
    "y": 1200,
    "wires": [["7966b558.f2b07c"]]
  },
  {
    "id": "945827e5.166298",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1770,
    "y": 1480,
    "wires": [["10aeac7b.b5c3c4"]]
  },
  {
    "id": "9e3f21fe.98773",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "2",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1500,
    "y": 1840,
    "wires": [["f7782c2.d122ad"]]
  },
  {
    "id": "f7a4d8cb.7b6ad8",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "2",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1500,
    "y": 2080,
    "wires": [["3763287c.f92118"]]
  },
  {
    "id": "3a03f5a5.f9fe9a",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "2",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1500,
    "y": 2320,
    "wires": [["a839787a.2cc988"]]
  },
  {
    "id": "e7041ae3.2b9f78",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "2",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1500,
    "y": 2540,
    "wires": [["3a1d4826.b6df1"]]
  },
  {
    "id": "834e5464.2151a8",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "2",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1500,
    "y": 2780,
    "wires": [["3426e5f2.cb2292"]]
  },
  {
    "id": "24937863.e55788",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "c75d56f6.ffaa2",
    "order": 1,
    "width": 24,
    "height": 6,
    "label": "Luft Kollektor",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "1000",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2500,
    "y": 1240,
    "wires": [[]]
  },
  {
    "id": "6971d0e6.34f6f8",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1510,
    "y": 1240,
    "wires": [["d9740c06.aa2f48"]]
  },
  {
    "id": "3a35977c.bc83d",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/temperaturKollektorLuft.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3130,
    "y": 1300,
    "wires": [[]]
  },
  {
    "id": "6421190b.eb8d1",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 1300,
    "wires": [["3a35977c.bc83d"]]
  },
  {
    "id": "9fc0f519.82d48",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 1300,
    "wires": [["6421190b.eb8d1"]]
  },
  {
    "id": "74fc9b59.96dbc4",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "hour",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1760,
    "y": 1640,
    "wires": [["8e820308.e61ff"]]
  },
  {
    "id": "d3032ba8.fb7318",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/temperaturBoilerOben.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3130,
    "y": 1680,
    "wires": [[]]
  },
  {
    "id": "b172a8e6.1454b",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 1680,
    "wires": [["d3032ba8.fb7318"]]
  },
  {
    "id": "e7b35f22.ba10c",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 1680,
    "wires": [["b172a8e6.1454b"]]
  },
  {
    "id": "9c79a0b7.0506c",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1510,
    "y": 1880,
    "wires": [["a66f3948.2d29a8"]]
  },
  {
    "id": "3c8e8860.26464",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/temperaturBoilerVL.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3120,
    "y": 1920,
    "wires": [[]]
  },
  {
    "id": "3bcd727a.3ffa6e",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 1940,
    "wires": [["3c8e8860.26464"]]
  },
  {
    "id": "a97cc8a7.f584b",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 1940,
    "wires": [["3bcd727a.3ffa6e"]]
  },
  {
    "id": "c7d0aca9.fff4c8",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "410f226.2f40c5c",
    "order": 2,
    "width": 24,
    "height": 6,
    "label": "Boiler VL",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "1000",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2480,
    "y": 1880,
    "wires": [[]]
  },
  {
    "id": "bc49dad2.a78c38",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1510,
    "y": 2120,
    "wires": [["227e9c74.d8524c"]]
  },
  {
    "id": "ca81acd9.65eda8",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/temperaturBoilerRL.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3120,
    "y": 2180,
    "wires": [[]]
  },
  {
    "id": "bdec4f8a.f43cd8",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 2180,
    "wires": [["ca81acd9.65eda8"]]
  },
  {
    "id": "883371ac.a2ad88",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 2180,
    "wires": [["bdec4f8a.f43cd8"]]
  },
  {
    "id": "c0565ad7.e2755",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "410f226.2f40c5c",
    "order": 3,
    "width": 24,
    "height": 6,
    "label": "Boiler RL",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "1000",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2480,
    "y": 2120,
    "wires": [[]]
  },
  {
    "id": "2b759d1f.d0a7ba",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1510,
    "y": 2360,
    "wires": [["94d86677.e2322"]]
  },
  {
    "id": "e5de5e8c.36e528",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/temperaturErdsondeVL.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3130,
    "y": 2420,
    "wires": [[]]
  },
  {
    "id": "e39e2977.d6789",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 2420,
    "wires": [["e5de5e8c.36e528"]]
  },
  {
    "id": "b71160ea.b0cbf",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 2420,
    "wires": [["e39e2977.d6789"]]
  },
  {
    "id": "97dcafe9.3ef3d",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "378c2b97.a66624",
    "order": 1,
    "width": 24,
    "height": 6,
    "label": "Erdsonde VL",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "1000",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2490,
    "y": 2360,
    "wires": [[]]
  },
  {
    "id": "ff9aa4f5.4fed88",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1510,
    "y": 2580,
    "wires": [["6965d309.8dc734"]]
  },
  {
    "id": "4a07bd1b.e3cef4",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/temperaturWaermetauscherVL.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3160,
    "y": 2640,
    "wires": [[]]
  },
  {
    "id": "2193dbfd.ae2364",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 2640,
    "wires": [["4a07bd1b.e3cef4"]]
  },
  {
    "id": "690d40fa.4ca538",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 2640,
    "wires": [["2193dbfd.ae2364"]]
  },
  {
    "id": "3562d74a.251ab8",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "378c2b97.a66624",
    "order": 2,
    "width": 24,
    "height": 6,
    "label": "Wärmetauscher VL",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "1000",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2510,
    "y": 2580,
    "wires": [[]]
  },
  {
    "id": "a33eca1b.33f7e8",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1510,
    "y": 2840,
    "wires": [["4e2036c9.a203e"]]
  },
  {
    "id": "5a6b662f.87ec",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/temperaturWaermetauscherRL.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3160,
    "y": 2900,
    "wires": [[]]
  },
  {
    "id": "afeca27a.e1e338",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 2900,
    "wires": [["5a6b662f.87ec"]]
  },
  {
    "id": "bed59940.960528",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 2900,
    "wires": [["afeca27a.e1e338"]]
  },
  {
    "id": "54465a7c.935da4",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "378c2b97.a66624",
    "order": 3,
    "width": 24,
    "height": 6,
    "label": "Wärmetauscher RL",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "1000",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2510,
    "y": 2840,
    "wires": [[]]
  },
  {
    "id": "f4ca6264.967ad",
    "type": "rbe",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "rbei",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 1850,
    "y": 380,
    "wires": [["fba7137b.b45b38"]]
  },
  {
    "id": "69631f9b.1c8e5",
    "type": "rbe",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "rbei",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 2030,
    "y": 440,
    "wires": [["3db183c2.353ddc", "349c9f77.78bcd"]]
  },
  {
    "id": "46922d47.207154",
    "type": "rbe",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "rbei",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 2470,
    "y": 240,
    "wires": [["97267053.e007f8"]]
  },
  {
    "id": "e560bc02.5bf9",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "2f5003a7.2814a4",
    "order": 2,
    "width": 24,
    "height": 6,
    "label": "Pumpengeschwindigkeit",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "step",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2210,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "7ce2c9f0.3bf96",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 1660,
    "y": 1160,
    "wires": [["f4df7b18.cdc218"]]
  },
  {
    "id": "d92b3dd.1b188c",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 1660,
    "y": 940,
    "wires": [["8dd57a80.8469"]]
  },
  {
    "id": "18a299ca.0eb17e",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 1660,
    "y": 1360,
    "wires": [["6c39651f.c6f8d4"]]
  },
  {
    "id": "8bc6a7bc.e07f",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 1660,
    "y": 1800,
    "wires": [["5bd30a24.8d91ec"]]
  },
  {
    "id": "bc855e5.28a4e2",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 1660,
    "y": 2040,
    "wires": [["147ca1ea.004036"]]
  },
  {
    "id": "ba5e0159.5a668",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 1660,
    "y": 2740,
    "wires": [["7688d6f1.1aabe8"]]
  },
  {
    "id": "9ff3e172.e63fd",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 1660,
    "y": 2500,
    "wires": [["9feb0b24.9c7d48"]]
  },
  {
    "id": "b767dd2c.eb36e8",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 1660,
    "y": 2280,
    "wires": [["4a8c4c2.2b5b534"]]
  },
  {
    "id": "fba7137b.b45b38",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "senden alle 30'",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "payl",
    "duration": "-10",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 2000,
    "y": 380,
    "wires": [["e560bc02.5bf9"]]
  },
  {
    "id": "d15cf5f5.581f38",
    "type": "ui_audio",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "1acdcf63.66bd71",
    "voice": "de-DE",
    "always": true,
    "x": 680,
    "y": 140,
    "wires": []
  },
  {
    "id": "907a7991.c96738",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "Ausgeschaltet",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "Sole",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "2",
        "fromt": "str",
        "to": "Boiler",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "3",
        "fromt": "str",
        "to": "Manuell",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "4",
        "fromt": "str",
        "to": "Sole. Alarm!",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "5",
        "fromt": "str",
        "to": "Kollektor. Alarm!",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 460,
    "y": 180,
    "wires": [["d15cf5f5.581f38", "d90d3963.02374"]]
  },
  {
    "id": "d0770c1b.1d626",
    "type": "rbe",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 2340,
    "y": 200,
    "wires": [["570c4709.109fa8"]]
  },
  {
    "id": "ff59eb6b.f0332",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 2020,
    "y": 980,
    "wires": [["cc085d17.422858"]]
  },
  {
    "id": "3dfed479.9bf7d4",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 2020,
    "y": 1020,
    "wires": [["7d0d57d9.f69858", "a093d221.aa2d68"]]
  },
  {
    "id": "7966b558.f2b07c",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 2020,
    "y": 1200,
    "wires": [["ecc83b19.c913"]]
  },
  {
    "id": "d9740c06.aa2f48",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 1240,
    "wires": [["24937863.e55788", "9fc0f519.82d48"]]
  },
  {
    "id": "53e4d0a.8d7663",
    "type": "rbe",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 300,
    "y": 160,
    "wires": [["907a7991.c96738"]]
  },
  {
    "id": "86d8c82f.9fa0b",
    "type": "rbe",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 710,
    "y": 80,
    "wires": [["6b15c3e9.4fab34"]]
  },
  {
    "id": "fbf157ec.e5554",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 1520,
    "wires": [["c6cd2348.68a748"]]
  },
  {
    "id": "8e820308.e61ff",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 1640,
    "wires": [["f5ea75a4.fea378", "8e70eac1.897"]]
  },
  {
    "id": "f7782c2.d122ad",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 1840,
    "wires": [["8103c33b.f56f9"]]
  },
  {
    "id": "a66f3948.2d29a8",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 1880,
    "wires": [["c7d0aca9.fff4c8", "a97cc8a7.f584b"]]
  },
  {
    "id": "3763287c.f92118",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 2080,
    "wires": [["8d419bc.8657c68"]]
  },
  {
    "id": "227e9c74.d8524c",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 2120,
    "wires": [["c0565ad7.e2755", "883371ac.a2ad88"]]
  },
  {
    "id": "a839787a.2cc988",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 2320,
    "wires": [["b7c1a0f0.b56f18"]]
  },
  {
    "id": "94d86677.e2322",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 2360,
    "wires": [["97dcafe9.3ef3d", "b71160ea.b0cbf"]]
  },
  {
    "id": "3a1d4826.b6df1",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 2540,
    "wires": [["9eb583b6.7103e"]]
  },
  {
    "id": "6965d309.8dc734",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 2580,
    "wires": [["3562d74a.251ab8", "690d40fa.4ca538"]]
  },
  {
    "id": "3426e5f2.cb2292",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 2780,
    "wires": [["f10a9dd1.9dd65"]]
  },
  {
    "id": "4e2036c9.a203e",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 2840,
    "wires": [["54465a7c.935da4", "bed59940.960528"]]
  },
  {
    "id": "247b58da.bb03f",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/alive",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 80,
    "y": 880,
    "wires": [["118f4d92.31551a", "3134d0d8.be0cf8"]]
  },
  {
    "id": "f36db8e9.b538e8",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "f06466fe.17f94",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "jetzt starten",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Legionellenschaltung wirklich starten?",
    "payloadType": "str",
    "topic": "",
    "x": 90,
    "y": 3340,
    "wires": [["99bc1b80.c690d8"]]
  },
  {
    "id": "635a203f.571f3",
    "type": "mqtt out",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/toArduino/LegionellenModus",
    "qos": "1",
    "retain": "",
    "broker": "5985cf37.8d0c48",
    "x": 940,
    "y": 3360,
    "wires": []
  },
  {
    "id": "519fbbdb.af6dac",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "f06466fe.17f94",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "jetzt beenden",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Legionellenschaltung wirklich beenden?",
    "payloadType": "str",
    "topic": "",
    "x": 100,
    "y": 3380,
    "wires": [["f02906cb.2ecca"]]
  },
  {
    "id": "99bc1b80.c690d8",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 370,
    "y": 3340,
    "wires": [["c93cc94c.2c136"]]
  },
  {
    "id": "c93cc94c.2c136",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "OK",
        "fromt": "str",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 3340,
    "wires": [["635a203f.571f3"]]
  },
  {
    "id": "f02906cb.2ecca",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 370,
    "y": 3380,
    "wires": [["801d8926.a8548"]]
  },
  {
    "id": "801d8926.a8548",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "OK",
        "fromt": "str",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 3380,
    "wires": [["635a203f.571f3"]]
  },
  {
    "id": "29996f2c.a1b738",
    "type": "comment",
    "z": "f1c3bb0e.a936f",
    "name": "Legionellenschaltung",
    "info": "",
    "x": 120,
    "y": 3300,
    "wires": []
  },
  {
    "id": "a88881b8.736ac",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/flowMeterBoiler",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 100,
    "y": 4080,
    "wires": [["6465a1b4.6dd76"]]
  },
  {
    "id": "6465a1b4.6dd76",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "//Überprüfen ob variabeln gesetzt sind und allenfalls setzen.\nif (flow.get('boilerEnergyToday') === undefined) {\n    flow.set('boilerEnergyToday', 0);\n}\nif (flow.get('boilerEnergySinceReset') === undefined) {\n    flow.set('boilerEnergySinceReset', 0);\n}\nif (flow.get('boilerEnergyTotal') === undefined) {\n    flow.set('boilerEnergyTotal', 0);\n}\nif (flow.get('boilerVLLastTime') === undefined) {\n    flow.set('boilerVLLastTime', flow.get('derart/fuehlerBoilerVL'));\n}\nif (flow.get('boilerRLLastTime') === undefined) {\n    flow.set('boilerRLLastTime', flow.get('derart/fuehlerBoilerRL'));\n}\nif (flow.get('boilerTimeLastTime') === undefined) {\n    flow.set('boilerTimeLastTime', Date.now());\n}\nif (flow.get('boilerPowerArray') === undefined) {\n    boilerPowerArray = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];\n    flow.set('boilerPowerArray', boilerPowerArray);\n}\n\nvolume = 0.001; //m^3\ntimeDelay = (Date.now() - flow.get('boilerTimeLastTime')) / 1000; //s\n\n//Berechnungen Vorlauf\nmeanVLTemperature = (flow.get('boilerVLLastTime') + flow.get('derart/fuehlerBoilerVL'))/2; //°C\ndensityVL = -0.0054 * meanVLTemperature^2 -0.33 *  meanVLTemperature + 1045; //kg/m^3\nheatCapacityVL = 0.01944 * meanVLTemperature + 1.02778 * meanVLTemperature + 3650; //J/kg*K\nmass = densityVL * volume;\namountOfHeatVL = meanVLTemperature * heatCapacityVL * mass; //J\n\n//Berechnungen Rücklauf\nmeanRLTemperature = (flow.get('boilerRLLastTime') + flow.get('derart/fuehlerBoilerRL'))/2;\nheatCapacityRL = 0.01944 * meanRLTemperature + 1.02778 * meanRLTemperature + 3650; //J/kg*K\namountOfHeatRL = meanRLTemperature * heatCapacityRL * mass; //J\n\n//Berechnungen Wärmemenge und Leistung\namountOfHeatDiff = amountOfHeatVL - amountOfHeatRL; //J\namountOfHeatDiffKWH = amountOfHeatDiff / 3600000; //kWh\npowerW = amountOfHeatDiff / timeDelay; //W\n\nboilerPowerArray = flow.get('boilerPowerArray');\nboilerPowerArray.push(powerW);\nboilerPowerArray.shift();\nflow.set('boilerPowerArray', boilerPowerArray)\n\nboilerPowerArrayCalc = boilerPowerArray.slice(0);\nboilerPowerArrayCalc = boilerPowerArrayCalc.sort();\npowerW = boilerPowerArrayCalc[4] + boilerPowerArrayCalc[5];\npowerW /= 2000;\nflow.set('boilerPower',powerW)\n\nif (amountOfHeatDiffKWH > 0 && !isNaN(amountOfHeatDiffKWH)) {\nflow.set('boilerEnergyToday', flow.get('boilerEnergyToday') + amountOfHeatDiffKWH);\nflow.set('boilerEnergySinceReset', flow.get('boilerEnergySinceReset') + amountOfHeatDiffKWH);\nflow.set('boilerEnergyTotal', flow.get('boilerEnergyTotal') + amountOfHeatDiffKWH);\n}\n\nflow.set('boilerVLLastTime', flow.get('derart/fuehlerBoilerVL'));\nflow.set('boilerRLLastTime', flow.get('derart/fuehlerBoilerRL'));\nflow.set('boilerTimeLastTime', Date.now());\n\nreturn { payload: 1 }",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 410,
    "y": 4080,
    "wires": [
      ["c286531f.a4467", "8b296ca1.09d53", "ca07f636.3ec618", "8f36e218.6c7618"]
    ]
  },
  {
    "id": "df73c831.e5e808",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "7f1ace4d.b9ec6",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Energie heute",
    "format": "{{msg.payload | number:1}} kWh",
    "layout": "row-spread",
    "x": 1680,
    "y": 3980,
    "wires": []
  },
  {
    "id": "94f8545e.39565",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "7f1ace4d.b9ec6",
    "order": 7,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Zurücksetzen",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Energiemessung Boiler wirklich zurücksetzen?",
    "payloadType": "str",
    "topic": "",
    "x": 980,
    "y": 4120,
    "wires": [["cae10524.8af778"]]
  },
  {
    "id": "144f85fc.63a56a",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "return {payload: flow.get('boilerEnergyToday')};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1330,
    "y": 4040,
    "wires": [["3e8025b8.2d9cea", "17b40222.35c576"]]
  },
  {
    "id": "cf86bb93.b115c",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "pay",
    "op2type": "str",
    "duration": "-10",
    "extend": false,
    "units": "s",
    "reset": "OK",
    "bytopic": "all",
    "outputs": 1,
    "x": 1100,
    "y": 3200,
    "wires": [["29d1037c.e34974"]]
  },
  {
    "id": "fbe03e33.72c228",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "b7e6fa0.56c5488",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Ausschalten, dann Auto",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Sicher?",
    "payloadType": "str",
    "topic": "",
    "x": 130,
    "y": 3480,
    "wires": [["20ca33e1.ff92d4"]]
  },
  {
    "id": "77ce485e.5f3",
    "type": "mqtt out",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/toArduino/Betriebsmodus",
    "qos": "1",
    "retain": "",
    "broker": "5985cf37.8d0c48",
    "x": 930,
    "y": 3500,
    "wires": []
  },
  {
    "id": "393fcda7.098c02",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "b7e6fa0.56c5488",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Sole laden, dann Auto",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Sicher?",
    "payloadType": "str",
    "topic": "",
    "x": 120,
    "y": 3520,
    "wires": [["8ae7c2d9.fa7ea8"]]
  },
  {
    "id": "20ca33e1.ff92d4",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 370,
    "y": 3480,
    "wires": [["bac03292.a83b"]]
  },
  {
    "id": "bac03292.a83b",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "OK",
        "fromt": "str",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 3480,
    "wires": [["77ce485e.5f3"]]
  },
  {
    "id": "8ae7c2d9.fa7ea8",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 370,
    "y": 3520,
    "wires": [["274ebcc7.8d266c"]]
  },
  {
    "id": "274ebcc7.8d266c",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "OK",
        "fromt": "str",
        "to": "1",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 3520,
    "wires": [["77ce485e.5f3"]]
  },
  {
    "id": "28e8eb04.26eb34",
    "type": "comment",
    "z": "f1c3bb0e.a936f",
    "name": "Betriebsmodus umschalten",
    "info": "",
    "x": 140,
    "y": 3440,
    "wires": []
  },
  {
    "id": "a4e60167.2c8b88",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "b7e6fa0.56c5488",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Boiler laden, dann Auto",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Sicher?",
    "payloadType": "str",
    "topic": "",
    "x": 130,
    "y": 3560,
    "wires": [["202aa1d2.e82d4e"]]
  },
  {
    "id": "1855c120.8d5347",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "b7e6fa0.56c5488",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Manuell Ausschalten",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Sicher?",
    "payloadType": "str",
    "topic": "",
    "x": 120,
    "y": 3600,
    "wires": [["48d529f0.d76c18"]]
  },
  {
    "id": "202aa1d2.e82d4e",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 370,
    "y": 3560,
    "wires": [["78136bf4.75d754"]]
  },
  {
    "id": "78136bf4.75d754",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "OK",
        "fromt": "str",
        "to": "2",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 3560,
    "wires": [["77ce485e.5f3"]]
  },
  {
    "id": "48d529f0.d76c18",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 370,
    "y": 3600,
    "wires": [["d676fa27.225a88"]]
  },
  {
    "id": "d676fa27.225a88",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "OK",
        "fromt": "str",
        "to": "3",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 3600,
    "wires": [["77ce485e.5f3"]]
  },
  {
    "id": "7441fb2b.4a56cc",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "b7e6fa0.56c5488",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Manuell Sole Laden",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Sicher?",
    "payloadType": "str",
    "topic": "",
    "x": 110,
    "y": 3640,
    "wires": [["6ed97564.8a4a0c"]]
  },
  {
    "id": "a83992f2.5e901",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "b7e6fa0.56c5488",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Manuell Boiler Laden",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Sicher?",
    "payloadType": "str",
    "topic": "",
    "x": 120,
    "y": 3680,
    "wires": [["6f764c46.964344"]]
  },
  {
    "id": "6ed97564.8a4a0c",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 370,
    "y": 3640,
    "wires": [["2cfd767c.0f7f12"]]
  },
  {
    "id": "2cfd767c.0f7f12",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "OK",
        "fromt": "str",
        "to": "4",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 3640,
    "wires": [["77ce485e.5f3"]]
  },
  {
    "id": "6f764c46.964344",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 370,
    "y": 3680,
    "wires": [["3e005fb.854b9a"]]
  },
  {
    "id": "3e005fb.854b9a",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "OK",
        "fromt": "str",
        "to": "5",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 620,
    "y": 3680,
    "wires": [["77ce485e.5f3"]]
  },
  {
    "id": "801feca7.a313e",
    "type": "comment",
    "z": "f1c3bb0e.a936f",
    "name": "Energiemessung Boiler",
    "info": "",
    "x": 120,
    "y": 3860,
    "wires": []
  },
  {
    "id": "95bcffc1.b46428",
    "type": "inject",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "repeat": "",
    "crontab": "00 00 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 1210,
    "y": 4040,
    "wires": [["144f85fc.63a56a"]]
  },
  {
    "id": "a5cd7783.feec08",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "7f1ace4d.b9ec6",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Energie seit Reset",
    "format": "{{msg.payload | number:1}} kWh",
    "layout": "row-spread",
    "x": 1690,
    "y": 4100,
    "wires": []
  },
  {
    "id": "30686e40.b0b8f2",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "7f1ace4d.b9ec6",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Energie total",
    "format": "{{msg.payload | number:1}} kWh",
    "layout": "row-spread",
    "x": 1670,
    "y": 4220,
    "wires": []
  },
  {
    "id": "64e20dc1.2049c4",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.payload == \"OK\")\n{\n    flow.set('boilerEnergySinceReset',0);\n    return {payload: 0};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4160,
    "wires": [["a5cd7783.feec08"]]
  },
  {
    "id": "c286531f.a4467",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.topic == 'interval'){\nif (flow.get('derart/operationMode') == '2') {\n    return null;\n}\nelse if (flow.get('derart/operationMode') == '3') {\n    return null;\n}\nelse {\n    flow.set('boilerPower',0)\n    return {payload:0};\n}\n}\nelse {\n    return {payload:flow.get('boilerPower')};\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1330,
    "y": 3900,
    "wires": [["362dc348.c26154", "18d549ad.37aa66", "e6a2515b.9d2b4"]]
  },
  {
    "id": "3dc12f20.c77b4",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "1acdcf63.66bd71",
    "order": 8,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Aktuelle Leistung",
    "format": "{{msg.payload | number:1}} kW",
    "layout": "row-spread",
    "x": 2450,
    "y": 4300,
    "wires": []
  },
  {
    "id": "8b296ca1.09d53",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "return {payload:flow.get('boilerEnergyToday')};\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 3980,
    "wires": [["df73c831.e5e808"]]
  },
  {
    "id": "ca07f636.3ec618",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "return {payload:flow.get('boilerEnergySinceReset')};\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1330,
    "y": 4100,
    "wires": [["a5cd7783.feec08"]]
  },
  {
    "id": "8f36e218.6c7618",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "return {payload: flow.get('boilerEnergyTotal')};\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4220,
    "wires": [["30686e40.b0b8f2"]]
  },
  {
    "id": "cae10524.8af778",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 1170,
    "y": 4160,
    "wires": [["64e20dc1.2049c4", "387840e9.cb2888"]]
  },
  {
    "id": "3778f520.5e385a",
    "type": "inject",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "interval",
    "payload": "0",
    "payloadType": "num",
    "x": 1040,
    "y": 3900,
    "wires": [["c286531f.a4467"]]
  },
  {
    "id": "14e06a3a.560e26",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "In Variable Speichern",
    "func": "flow.set(msg.topic, Number(msg.payload));",
    "outputs": 0,
    "noerr": 0,
    "x": 380,
    "y": 40,
    "wires": []
  },
  {
    "id": "4e5c1856.4fe",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "In Variable Speichern",
    "func": "flow.set(msg.topic, Number(msg.payload));",
    "outputs": 0,
    "noerr": 0,
    "x": 380,
    "y": 1740,
    "wires": []
  },
  {
    "id": "25f900.65f6ff",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "In Variable Speichern",
    "func": "flow.set(msg.topic, Number(msg.payload));",
    "outputs": 0,
    "noerr": 0,
    "x": 360,
    "y": 2000,
    "wires": []
  },
  {
    "id": "87639ccc.bc343",
    "type": "inject",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "repeat": "",
    "crontab": "00 00 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 1190,
    "y": 4340,
    "wires": [["657aa6af.ba37e"]]
  },
  {
    "id": "657aa6af.ba37e",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "boilerPowerArray = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];\nflow.set('boilerPowerArray', boilerPowerArray);\nreturn {payload:{timestamp: Date.now(), data: Math.round(flow.get('boilerEnergyTotal'))}};",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4340,
    "wires": [["f56d96d6.7a34a8"]]
  },
  {
    "id": "e64f4453.5dac08",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/data/raw_data/derart/EnergieInBoiler.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 1740,
    "y": 4340,
    "wires": [[]]
  },
  {
    "id": "f56d96d6.7a34a8",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 1470,
    "y": 4340,
    "wires": [["e64f4453.5dac08"]]
  },
  {
    "id": "362dc348.c26154",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "7f1ace4d.b9ec6",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Aktuelle Leistung",
    "format": "{{msg.payload | number:1}} kW",
    "layout": "row-spread",
    "x": 1690,
    "y": 3880,
    "wires": []
  },
  {
    "id": "18d549ad.37aa66",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "7f1ace4d.b9ec6",
    "order": 2,
    "width": 6,
    "height": 4,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "3",
    "removeOlderPoints": "1000",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 1650,
    "y": 3800,
    "wires": [[]]
  },
  {
    "id": "b4679b2b.346848",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2700,
    "y": 4060,
    "wires": [["ba2a04ba.638e58"]]
  },
  {
    "id": "e9b3e70e.d1d6e8",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/flowMeterSole",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 100,
    "y": 4680,
    "wires": [["98c63423.bd3d28"]]
  },
  {
    "id": "98c63423.bd3d28",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "//Überprüfen ob variabeln gesetzt sind und allenfalls setzen.\nif (flow.get('soleEnergyToday') === undefined)\n{\n    flow.set('soleEnergyToday',0);\n}\nif (flow.get('soleEnergySinceReset') === undefined)\n{\n    flow.set('soleEnergySinceReset',0);\n}\nif (flow.get('soleEnergyTotal') === undefined)\n{\n    flow.set('soleEnergyTotal',0);\n}\nif (flow.get('soleVLLastTime') === undefined)\n{\n    flow.set('soleVLLastTime',flow.get('derart/fuehlerSoleVL'));\n}\nif (flow.get('soleRLLastTime') === undefined)\n{\n    flow.set('soleRLLastTime',flow.get('derart/fuehlerSoleRL'));\n}\nif (flow.get('soleTimeLastTime') === undefined)\n{\n    flow.set('soleTimeLastTime',Date.now());\n}\n\nvolume = 0.001 * parseFloat(msg.payload);//m3\ntimeDelay = (Date.now() - flow.get('soleTimeLastTime'))/1000; //s\n\n//Berechnungen Vorlauf\nmeanVLTemperature = (flow.get('soleVLLastTime') + flow.get('derart/fuehlerSoleVL'))/2; //°C\ndensityVL = -0.0054 * meanVLTemperature^2 -0.33 *  meanVLTemperature + 1045; //kg/m^3\nheatCapacityVL = 0.01944 * meanVLTemperature + 1.02778 * meanVLTemperature + 3650; //J/kg*K\nmass = densityVL * volume;\namountOfHeatVL = meanVLTemperature * heatCapacityVL * mass; //J\n\n//Berechnungen Rücklauf\nmeanRLTemperature = (flow.get('soleRLLastTime') + flow.get('derart/fuehlerSoleRL'))/2;\nheatCapacityRL = 0.01944 * meanRLTemperature + 1.02778 * meanRLTemperature + 3650; //J/kg*K\namountOfHeatRL = meanRLTemperature * heatCapacityRL * mass; //J\n\n//Berechnungen Wärmemenge und Leistung\namountOfHeatDiff = amountOfHeatVL - amountOfHeatRL; //J\namountOfHeatDiffKWH = amountOfHeatDiff / 3600000; //kWh\npowerW = amountOfHeatDiff / timeDelay; //W\n\n\nflow.set('solePower',powerW/1000);\nflow.set('soleEnergyToday',flow.get('soleEnergyToday')+amountOfHeatDiffKWH);\nflow.set('soleEnergySinceReset',flow.get('soleEnergySinceReset')+amountOfHeatDiffKWH);\nflow.set('soleEnergyTotal',flow.get('soleEnergyTotal')+amountOfHeatDiffKWH);\n\nflow.set('soleVLLastTime',flow.get('derart/fuehlerSoleVL'));\nflow.set('soleRLLastTime', flow.get('derart/fuehlerSoleRL'));\nflow.set('soleTimeLastTime', Date.now());\n\nreturn {payload: 1};",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 4680,
    "wires": [
      [
        "e47bbff3.855f48",
        "4b8714d.763d76c",
        "341f3804.73556",
        "d3f3929f.da5d58"
      ]
    ]
  },
  {
    "id": "5ac76a4c.3b4634",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "16e2db90.cde8a4",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Energie heute",
    "format": "{{msg.payload | number:1}} kWh",
    "layout": "row-spread",
    "x": 1680,
    "y": 4580,
    "wires": []
  },
  {
    "id": "b914f0f3.ba678",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "16e2db90.cde8a4",
    "order": 7,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Zurücksetzen",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Energiemessung Sole wirklich zurücksetzen?",
    "payloadType": "str",
    "topic": "",
    "x": 980,
    "y": 4720,
    "wires": [["a0c6be87.202bf"]]
  },
  {
    "id": "89748dd.77e5bf",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "flow.set('soleEnergyToday',0);\nreturn {payload: 0};",
    "outputs": 1,
    "noerr": 0,
    "x": 1450,
    "y": 4640,
    "wires": [["5ac76a4c.3b4634"]]
  },
  {
    "id": "c8847ddd.968b68",
    "type": "inject",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "repeat": "",
    "crontab": "00 00 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 1030,
    "y": 4640,
    "wires": [["3b7b14c5.0ce9dc"]]
  },
  {
    "id": "50a16bec.30fdcc",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "16e2db90.cde8a4",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Energie seit Reset",
    "format": "{{msg.payload | number:1}} kWh",
    "layout": "row-spread",
    "x": 1690,
    "y": 4700,
    "wires": []
  },
  {
    "id": "99b7959f.e7466",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "16e2db90.cde8a4",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Energie total",
    "format": "{{msg.payload | number:1}} kWh",
    "layout": "row-spread",
    "x": 1670,
    "y": 4820,
    "wires": []
  },
  {
    "id": "4e3eb2d0.03b414",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.payload == \"OK\")\n{\n    flow.set('soleEnergySinceReset',0);\n    return {payload: 0};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4760,
    "wires": [["50a16bec.30fdcc"]]
  },
  {
    "id": "e47bbff3.855f48",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.topic == 'interval'){\nif (flow.get('derart/operationMode') == '1') {\n    return null;\n}\nelse if (flow.get('derart/operationMode') == '3') {\n    return null;\n}\nelse {\n    flow.set('solePower',0);\n    return {payload:0};\n}\n}\nelse {\n    return {payload:flow.get('solePower')};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4500,
    "wires": [["ef0cc6d4.935e1", "e6a2515b.9d2b4", "ac62e2b.5ee5da"]]
  },
  {
    "id": "ef0cc6d4.935e1",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "16e2db90.cde8a4",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Aktuelle Leistung",
    "format": "{{msg.payload | number:1}} kW",
    "layout": "row-spread",
    "x": 1690,
    "y": 4500,
    "wires": []
  },
  {
    "id": "4b8714d.763d76c",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "return {payload:flow.get('soleEnergyToday')};\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4580,
    "wires": [["5ac76a4c.3b4634"]]
  },
  {
    "id": "341f3804.73556",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "return {payload:flow.get('soleEnergySinceReset')};\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4700,
    "wires": [["50a16bec.30fdcc"]]
  },
  {
    "id": "d3f3929f.da5d58",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "return {payload: flow.get('soleEnergyTotal')};\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4820,
    "wires": [["99b7959f.e7466"]]
  },
  {
    "id": "a0c6be87.202bf",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 1170,
    "y": 4760,
    "wires": [["4e3eb2d0.03b414", "2c28edba.e6a78a"]]
  },
  {
    "id": "19317051.7d7b7",
    "type": "inject",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "repeat": "300",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "interval",
    "payload": "0",
    "payloadType": "num",
    "x": 1040,
    "y": 4500,
    "wires": [["e47bbff3.855f48"]]
  },
  {
    "id": "bddcaca7.ae8738",
    "type": "inject",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "repeat": "",
    "crontab": "00 00 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 1190,
    "y": 4940,
    "wires": [["e1f782c3.781b28"]]
  },
  {
    "id": "e1f782c3.781b28",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "return {payload:{timestamp: Date.now(), data: Math.round(flow.get('soleEnergyTotal'))}};",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4940,
    "wires": [["ab24932b.0d472"]]
  },
  {
    "id": "e443bf1.d37274",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/data/raw_data/derart/EnergieInBoden.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 1740,
    "y": 4940,
    "wires": [[]]
  },
  {
    "id": "ab24932b.0d472",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 1470,
    "y": 4940,
    "wires": [["e443bf1.d37274"]]
  },
  {
    "id": "947aa3a5.a817b8",
    "type": "comment",
    "z": "f1c3bb0e.a936f",
    "name": "Energiemessung Sole",
    "info": "",
    "x": 120,
    "y": 4460,
    "wires": []
  },
  {
    "id": "7a7d22f2.165f2c",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "In Variable Speichern",
    "func": "flow.set(msg.topic, Number(msg.payload));",
    "outputs": 0,
    "noerr": 0,
    "x": 320,
    "y": 2460,
    "wires": []
  },
  {
    "id": "ffa73c6.f9eaa4",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "In Variable Speichern",
    "func": "flow.set(msg.topic, Number(msg.payload));",
    "outputs": 0,
    "noerr": 0,
    "x": 340,
    "y": 2700,
    "wires": []
  },
  {
    "id": "e6a2515b.9d2b4",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.topic == 'interval'){\n    if (flow.get('derart/operationMode') == '1') {\n    return null;\n}\nelse if (flow.get('derart/operationMode') == '2') {\n    return null;\n}\nelse if (flow.get('derart/operationMode') == '3') {\n    return null;\n}\nelse {\n    return {payload:0, topic:'energy'};\n}\n}\nelse {\n    power = flow.get('boilerPower');\n    if (flow.get('solePower')>power) { \n        power = flow.get('solePower')\n    }\n    return {payload:power, topic:'energy'};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 2130,
    "y": 4240,
    "wires": [["3dc12f20.c77b4", "bea6f7d7.0cdf3", "ea4e3639.c12f48"]]
  },
  {
    "id": "ba2a04ba.638e58",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "e51e3eb8.acb06",
    "order": 3,
    "width": "24",
    "height": "6",
    "label": "Leistung [kW]",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "7",
    "removeOlderPoints": "175",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2940,
    "y": 4060,
    "wires": [[]]
  },
  {
    "id": "e41af26b.bd0ec",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "2f5003a7.2814a4",
    "order": 3,
    "width": 24,
    "height": 6,
    "label": "Leistung [kW]",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "700",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2940,
    "y": 4120,
    "wires": [[]]
  },
  {
    "id": "bea6f7d7.0cdf3",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "number = Number(msg.payload);\nreturn {payload: number, topic: msg.topic};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 2470,
    "y": 4120,
    "wires": [["944d2772.cc6708"]]
  },
  {
    "id": "944d2772.cc6708",
    "type": "rbe",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "deadbandEq",
    "gap": "0.1",
    "start": "",
    "inout": "out",
    "property": "payload",
    "x": 2710,
    "y": 4120,
    "wires": [["e41af26b.bd0ec"]]
  },
  {
    "id": "ea4e3639.c12f48",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "hour",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 2520,
    "y": 4060,
    "wires": [["b4679b2b.346848"]]
  },
  {
    "id": "5fff145f.dffe4c",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 1720,
    "wires": [["273e4f17.a93d68"]]
  },
  {
    "id": "273e4f17.a93d68",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/temperaturBoilerMitte.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3130,
    "y": 1720,
    "wires": [[]]
  },
  {
    "id": "f5ea75a4.fea378",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 1720,
    "wires": [["5fff145f.dffe4c"]]
  },
  {
    "id": "44e1502d.daf01",
    "type": "csv",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "sep": ",",
    "hdrin": false,
    "hdrout": false,
    "multi": "one",
    "ret": "\\n",
    "temp": "timestamp,data",
    "skip": "0",
    "strings": true,
    "x": 2810,
    "y": 1760,
    "wires": [["a3f4c19.6bd6dc"]]
  },
  {
    "id": "a3f4c19.6bd6dc",
    "type": "file",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "filename": "/home/pi/Documents/solar_rohdaten/temperaturBoilerUnten.txt",
    "appendNewline": false,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 3140,
    "y": 1760,
    "wires": [[]]
  },
  {
    "id": "9c895cfb.c621b",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "time = Date.now();\nreturn {payload:{timestamp: time, data: msg.payload}};",
    "outputs": 1,
    "noerr": 0,
    "x": 2670,
    "y": 1760,
    "wires": [["44e1502d.daf01"]]
  },
  {
    "id": "10aeac7b.b5c3c4",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 1480,
    "wires": [["c6cd2348.68a748"]]
  },
  {
    "id": "f1e9172e.606ca8",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 1560,
    "wires": [["c6cd2348.68a748"]]
  },
  {
    "id": "ed217a96.21c738",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1770,
    "y": 1520,
    "wires": [["fbf157ec.e5554"]]
  },
  {
    "id": "6374ec2d.4dc344",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "10",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1770,
    "y": 1560,
    "wires": [["f1e9172e.606ca8"]]
  },
  {
    "id": "5bce6ca7.a18454",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "d7cd3baa.1c9f58",
    "order": 9,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "unten",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": "10",
    "max": "80",
    "colors": ["#0432ff", "#00fa00", "#ff2600"],
    "seg1": "",
    "seg2": "",
    "x": 1810,
    "y": 1400,
    "wires": []
  },
  {
    "id": "ddce7a2c.a9c4c8",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "d7cd3baa.1c9f58",
    "order": 8,
    "width": 3,
    "height": 3,
    "gtype": "gage",
    "title": "oben",
    "label": "°C",
    "format": "{{value | number:1}}",
    "min": "10",
    "max": "80",
    "colors": ["#0432ff", "#00fa00", "#ff2600"],
    "seg1": "",
    "seg2": "",
    "x": 1810,
    "y": 1320,
    "wires": []
  },
  {
    "id": "2cb1d650.56b00a",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 1660,
    "y": 1320,
    "wires": [["ddce7a2c.a9c4c8"]]
  },
  {
    "id": "218ac591.c2f38a",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 1660,
    "y": 1400,
    "wires": [["5bce6ca7.a18454"]]
  },
  {
    "id": "1c84797a.642617",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "hour",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1760,
    "y": 1680,
    "wires": [["38e43527.776702"]]
  },
  {
    "id": "38e43527.776702",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 1680,
    "wires": [["9c895cfb.c621b", "8e70eac1.897"]]
  },
  {
    "id": "e11b6641.90a908",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "hour",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 1760,
    "y": 1600,
    "wires": [["1a719219.705e3e"]]
  },
  {
    "id": "1a719219.705e3e",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2020,
    "y": 1600,
    "wires": [["e7b35f22.ba10c", "8e70eac1.897"]]
  },
  {
    "id": "3f69a4ae.957ff4",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "253ada68.f5bee6",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Auto",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "0",
    "payloadType": "str",
    "topic": "",
    "x": 1250,
    "y": 3340,
    "wires": [["2f0a64f0.ffba3c"]]
  },
  {
    "id": "2f0a64f0.ffba3c",
    "type": "mqtt out",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/toArduino/SpeedKollektorpumpe",
    "qos": "1",
    "retain": "",
    "broker": "5985cf37.8d0c48",
    "x": 2130,
    "y": 3360,
    "wires": []
  },
  {
    "id": "5591e8db.a735a8",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "253ada68.f5bee6",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "sehr langsam",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "1",
    "payloadType": "str",
    "topic": "",
    "x": 1280,
    "y": 3380,
    "wires": [["2f0a64f0.ffba3c"]]
  },
  {
    "id": "952dcd94.56b9c",
    "type": "comment",
    "z": "f1c3bb0e.a936f",
    "name": "Geschwindigkeit Pumpe setzen",
    "info": "",
    "x": 1330,
    "y": 3300,
    "wires": []
  },
  {
    "id": "d22dcd31.293288",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "253ada68.f5bee6",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "langsam",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "2",
    "payloadType": "str",
    "topic": "",
    "x": 1260,
    "y": 3420,
    "wires": [["2f0a64f0.ffba3c"]]
  },
  {
    "id": "84aa4bc6.2cb1b8",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "253ada68.f5bee6",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "mittel",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "3",
    "payloadType": "str",
    "topic": "",
    "x": 1250,
    "y": 3460,
    "wires": [["2f0a64f0.ffba3c"]]
  },
  {
    "id": "3f9d967f.09d9f2",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "253ada68.f5bee6",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Schnell",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "4",
    "payloadType": "str",
    "topic": "",
    "x": 1260,
    "y": 3500,
    "wires": [["2f0a64f0.ffba3c"]]
  },
  {
    "id": "87e5cc4d.76b09",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "253ada68.f5bee6",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Sehr schnell",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "5",
    "payloadType": "str",
    "topic": "",
    "x": 1270,
    "y": 3540,
    "wires": [["2f0a64f0.ffba3c"]]
  },
  {
    "id": "e30475d3.eca25",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/fuehlerBoiler/2",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 120,
    "y": 1400,
    "wires": [["18a299ca.0eb17e", "ed217a96.21c738", "74fc9b59.96dbc4"]]
  },
  {
    "id": "423db4e3.1c32ec",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/fuehlerBoiler/3",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 120,
    "y": 1460,
    "wires": [["218ac591.c2f38a", "6374ec2d.4dc344", "1c84797a.642617"]]
  },
  {
    "id": "c6cd2348.68a748",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "topic",
        "pt": "msg",
        "from": "derart/fuehlerBoiler/1",
        "fromt": "str",
        "to": "oben",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "topic",
        "pt": "msg",
        "from": "derart/fuehlerBoiler/2",
        "fromt": "str",
        "to": "mitte",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "topic",
        "pt": "msg",
        "from": "derart/fuehlerBoiler/3",
        "fromt": "str",
        "to": "unten",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2320,
    "y": 1520,
    "wires": [["1614d067.b99258"]]
  },
  {
    "id": "8e70eac1.897",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "topic",
        "pt": "msg",
        "from": "derart/fuehlerBoiler/1",
        "fromt": "str",
        "to": "oben",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "topic",
        "pt": "msg",
        "from": "derart/fuehlerBoiler/2",
        "fromt": "str",
        "to": "mitte",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "topic",
        "pt": "msg",
        "from": "derart/fuehlerBoiler/3",
        "fromt": "str",
        "to": "unten",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2500,
    "y": 1640,
    "wires": [["c7fa066.ab10e78"]]
  },
  {
    "id": "1614d067.b99258",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "3d37f638.326cea",
    "order": 1,
    "width": 24,
    "height": 6,
    "label": "Boilertemperatur",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "85",
    "removeOlder": 1,
    "removeOlderPoints": "150",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2510,
    "y": 1520,
    "wires": [[]]
  },
  {
    "id": "c7fa066.ab10e78",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "410f226.2f40c5c",
    "order": 1,
    "width": 24,
    "height": 6,
    "label": "Boilertemperatur",
    "chartType": "line",
    "legend": "true",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "85",
    "removeOlder": 1,
    "removeOlderPoints": "175",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2710,
    "y": 1640,
    "wires": [[]]
  },
  {
    "id": "3b1ea500.0ad95c",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "7847ec5d.e44384",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "komplett Reset Sole",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Gesamt-Energiemessung Sole wirklich zurücksetzen? (Gesamtzähler) (OK eingeben)",
    "payloadType": "str",
    "topic": "",
    "x": 900,
    "y": 4860,
    "wires": [["f7c1f02a.42ac9"]]
  },
  {
    "id": "f7c1f02a.42ac9",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "prompt",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 1090,
    "y": 4860,
    "wires": [["62ab0c17.b2c6cc", "67d2a0fd.aeb47"]]
  },
  {
    "id": "62ab0c17.b2c6cc",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.payload == \"OK\")\n{\n    flow.set('soleEnergyTotal',0);\n    return {payload: 0};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4860,
    "wires": [["99b7959f.e7466"]]
  },
  {
    "id": "69c1b925.0ecdb8",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.payload == \"OK\")\n{\n    flow.set('boilerEnergyTotal',0);\n    return {payload: 0};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4260,
    "wires": [["30686e40.b0b8f2"]]
  },
  {
    "id": "9b544911.92a91",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "prompt",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "OK",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 1090,
    "y": 4260,
    "wires": [["69c1b925.0ecdb8", "df525155.6402c"]]
  },
  {
    "id": "c19d28e4.e95c88",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "7847ec5d.e44384",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "komplett Reset Boiler",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Gesamt-Energiemessung Boiler wirklich zurücksetzen? (Gesamtzähler) (OK eingeben)",
    "payloadType": "str",
    "topic": "",
    "x": 900,
    "y": 4260,
    "wires": [["9b544911.92a91"]]
  },
  {
    "id": "ad002112.8a9718",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "top right",
    "displayTime": "10",
    "highlight": "",
    "sendall": false,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 910,
    "y": 4960,
    "wires": []
  },
  {
    "id": "67d2a0fd.aeb47",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.payload == 'OK') {\n    return {payload: \"Erfolgreich zurückgesetzt\"};\n}\nelse {\n    return {payload: \"nicht zurückgesetzt.\"};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 750,
    "y": 4960,
    "wires": [["ad002112.8a9718"]]
  },
  {
    "id": "2c28edba.e6a78a",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.payload == 'OK') {\n    return {payload: \"Erfolgreich zurückgesetzt\"};\n}\nelse {\n    return {payload: \"nicht zurückgesetzt.\"};\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 790,
    "y": 4780,
    "wires": [["a86e8fd2.a3d068"]]
  },
  {
    "id": "a86e8fd2.a3d068",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "top right",
    "displayTime": "10",
    "highlight": "",
    "sendall": false,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 950,
    "y": 4780,
    "wires": []
  },
  {
    "id": "df525155.6402c",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.payload == 'OK') {\n    return {payload: \"Erfolgreich zurückgesetzt\"};\n}\nelse {\n    return {payload: \"nicht zurückgesetzt.\"};\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 850,
    "y": 4320,
    "wires": [["46dee9e8.943be8"]]
  },
  {
    "id": "46dee9e8.943be8",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "top right",
    "displayTime": "10",
    "highlight": "",
    "sendall": false,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 1010,
    "y": 4320,
    "wires": []
  },
  {
    "id": "387840e9.cb2888",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.payload == 'OK') {\n    return {payload: \"Erfolgreich zurückgesetzt\"};\n}\nelse {\n    return {payload: \"nicht zurückgesetzt.\"};\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 990,
    "y": 4200,
    "wires": [["5bee9160.4c48e"]]
  },
  {
    "id": "5bee9160.4c48e",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "top right",
    "displayTime": "10",
    "highlight": "",
    "sendall": false,
    "outputs": 0,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 1150,
    "y": 4200,
    "wires": []
  },
  {
    "id": "cb4b5bd8.548a2",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "0",
        "fromt": "str",
        "to": "Ausgeschaltet",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "Sole laden",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "2",
        "fromt": "str",
        "to": "Boiler laden",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "3",
        "fromt": "str",
        "to": "Manueller Modus",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "4",
        "fromt": "str",
        "to": "Sole Alarm!",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "5",
        "fromt": "str",
        "to": "Kollektor Alarm!",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1460,
    "y": 80,
    "wires": [["d6b08b3.08e9ef8"]]
  },
  {
    "id": "d90d3963.02374",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "delay",
    "timeout": "3",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 680,
    "y": 200,
    "wires": [["d15cf5f5.581f38"]]
  },
  {
    "id": "22bd5940.c9d73e",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "6d76b9fb.78fc7",
    "order": 10,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Regel-Solltemperatur",
    "format": "{{msg.payload | number:0}} °C",
    "layout": "row-spread",
    "x": 630,
    "y": 3000,
    "wires": []
  },
  {
    "id": "342801b0.b9cf2e",
    "type": "inject",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0",
    "payloadType": "num",
    "x": 110,
    "y": 4740,
    "wires": [["98c63423.bd3d28"]]
  },
  {
    "id": "ac62e2b.5ee5da",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "16e2db90.cde8a4",
    "order": 2,
    "width": 6,
    "height": 4,
    "label": "",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "3",
    "removeOlderPoints": "1000",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 1650,
    "y": 4460,
    "wires": [[]]
  },
  {
    "id": "a093d221.aa2d68",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "c75d56f6.ffaa2",
    "order": 2,
    "width": 24,
    "height": 6,
    "label": "Vorlauf Kollektor",
    "chartType": "line",
    "legend": "false",
    "xformat": "dd HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "1000",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 2500,
    "y": 1020,
    "wires": [[]]
  },
  {
    "id": "ab1b7c49.92f25",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/boilerAdditionalHeating",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 140,
    "y": 820,
    "wires": [["f8c1dacc.6aadf8"]]
  },
  {
    "id": "f8c1dacc.6aadf8",
    "type": "ui_led",
    "z": "f1c3bb0e.a936f",
    "group": "1acdcf63.66bd71",
    "order": 5,
    "width": 0,
    "height": 0,
    "label": "Boiler Zusatzheizung",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      { "color": "red", "value": "off", "valueType": "str" },
      { "color": "green", "value": "on", "valueType": "str" }
    ],
    "allowColorForValueInMessage": false,
    "name": "Boiler Zusatzheizung",
    "x": 1860,
    "y": 820,
    "wires": []
  },
  {
    "id": "1e4cc204.18ae5e",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "16e2db90.cde8a4",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Energie gestern",
    "format": "{{msg.payload | number:1}} kWh",
    "layout": "row-spread",
    "x": 1680,
    "y": 4640,
    "wires": []
  },
  {
    "id": "3b7b14c5.0ce9dc",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "return {payload: flow.get('soleEnergyToday')};",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 4640,
    "wires": [["89748dd.77e5bf", "1e4cc204.18ae5e"]]
  },
  {
    "id": "17b40222.35c576",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "7f1ace4d.b9ec6",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Energie gestern",
    "format": "{{msg.payload | number:1}} kWh",
    "layout": "row-spread",
    "x": 1680,
    "y": 4040,
    "wires": []
  },
  {
    "id": "3e8025b8.2d9cea",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "flow.set('boilerEnergyToday',0);\nreturn {payload: 0};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 1470,
    "y": 4040,
    "wires": [["df73c831.e5e808"]]
  },
  {
    "id": "cdd9fb6d.524d88",
    "type": "debug",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 320,
    "y": 2220,
    "wires": []
  },
  {
    "id": "9cc04594.f2b3c8",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/controlTemperature",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 130,
    "y": 3000,
    "wires": [["22bd5940.c9d73e", "2a5b448a.95009c"]]
  },
  {
    "id": "bd7b0b30.f1eb68",
    "type": "restart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 2430,
    "y": 3620,
    "wires": []
  },
  {
    "id": "d495c793.be2a08",
    "type": "shutdown",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 2440,
    "y": 3560,
    "wires": []
  },
  {
    "id": "55f012c0.c6fdd4",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "c6ec464d.b9e02",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Raspberry Herunterfahren",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Herunterfahren?",
    "payloadType": "str",
    "topic": "",
    "x": 1810,
    "y": 3560,
    "wires": [["d6c3b82.cc549c8"]]
  },
  {
    "id": "38cfb87e.37ab08",
    "type": "ui_button",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "c6ec464d.b9e02",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Raspberry Neustarten",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Neustarten?",
    "payloadType": "str",
    "topic": "",
    "x": 1800,
    "y": 3620,
    "wires": [["36d9b036.e88418"]]
  },
  {
    "id": "d6c3b82.cc549c8",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "Ja",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 2090,
    "y": 3560,
    "wires": [["41699c8c.3ec724"]]
  },
  {
    "id": "36d9b036.e88418",
    "type": "ui_toast",
    "z": "f1c3bb0e.a936f",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "Ja",
    "cancel": "Abbrechen",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 2090,
    "y": 3620,
    "wires": [["5de188a.82b8978"]]
  },
  {
    "id": "5de188a.82b8978",
    "type": "switch",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "Ja", "vt": "str" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2250,
    "y": 3620,
    "wires": [["bd7b0b30.f1eb68"]]
  },
  {
    "id": "41699c8c.3ec724",
    "type": "switch",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{ "t": "eq", "v": "Ja", "vt": "str" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 2250,
    "y": 3560,
    "wires": [["d495c793.be2a08"]]
  },
  {
    "id": "39de1b70.5f6c5c",
    "type": "openweathermap",
    "z": "f1c3bb0e.a936f",
    "name": "Sulz",
    "wtype": "current",
    "lon": "",
    "lat": "",
    "city": "Rickenbach (ZH)",
    "country": "CH",
    "language": "de",
    "x": 2450,
    "y": 3120,
    "wires": [["ed2dfba5.c7cd7", "addef7fd.d09a78", "494d55c6.2b0e94"]]
  },
  {
    "id": "a3d7b7ac.011ef8",
    "type": "inject",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "600",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "true",
    "payloadType": "bool",
    "x": 2230,
    "y": 3120,
    "wires": [["39de1b70.5f6c5c"]]
  },
  {
    "id": "ed2dfba5.c7cd7",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "return {payload: Number(msg.payload.clouds)};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 2640,
    "y": 3120,
    "wires": [["509dcff5.d70e7", "631e8c2c.246fb4", "d213bdca.f5f348"]]
  },
  {
    "id": "c9552a0f.cc088",
    "type": "mqtt out",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/toArduino/BadWeather",
    "qos": "1",
    "retain": "",
    "broker": "5985cf37.8d0c48",
    "x": 3230,
    "y": 3180,
    "wires": []
  },
  {
    "id": "509dcff5.d70e7",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "if (msg.payload >= 50) {\n    return {payload: 1}\n}\nelse {\n    return {payload: 0}\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 2780,
    "y": 3120,
    "wires": [["b22b0562.ecbcc"]]
  },
  {
    "id": "b22b0562.ecbcc",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "0",
        "fromt": "num",
        "to": "0",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "1",
        "fromt": "num",
        "to": "0",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2980,
    "y": 3180,
    "wires": [["c9552a0f.cc088"]]
  },
  {
    "id": "631e8c2c.246fb4",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "1acdcf63.66bd71",
    "order": 9,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Bewölkung",
    "format": "{{msg.payload}} %",
    "layout": "row-spread",
    "x": 3160,
    "y": 3120,
    "wires": []
  },
  {
    "id": "addef7fd.d09a78",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "1acdcf63.66bd71",
    "order": 10,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Wetter",
    "format": "{{msg.payload.detail}}",
    "layout": "row-spread",
    "x": 3150,
    "y": 3060,
    "wires": []
  },
  {
    "id": "494d55c6.2b0e94",
    "type": "debug",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 2680,
    "y": 3200,
    "wires": []
  },
  {
    "id": "d213bdca.f5f348",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "2f5003a7.2814a4",
    "order": 4,
    "width": 24,
    "height": 6,
    "label": "Bewölkung",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "1",
    "removeOlderPoints": "150",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#d62728",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 3330,
    "y": 3080,
    "wires": [[]]
  },
  {
    "id": "882ee5fe.41b9c",
    "type": "comment",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "info": "Hier\n",
    "x": 2980,
    "y": 3220,
    "wires": []
  },
  {
    "id": "d8dd2a28.8a0db8",
    "type": "inject",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "00 00 * * 1",
    "once": false,
    "onceDelay": 0.1,
    "topic": "Energie-Backup",
    "payload": "",
    "payloadType": "date",
    "x": 2000,
    "y": 4520,
    "wires": [["f4f0f438.0c1808"]]
  },
  {
    "id": "97916572.b296d8",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "boilerTot = flow.get('boilerEnergyTotal');\nsoleTot = flow.get('soleEnergyTotal');\nmessage = \"Das ist das regelmässige Backup der Energiedaten vom \";\nmessage += msg.time;\nmessage += \".\\n\\nDie Boiler-Gesamtenergie beträgt: \";\nmessage += String(Math.round(boilerTot));\nmessage += \" kWh\\n Die Sole-Gesamtenergie beträgt: \";\nmessage += String(Math.round(soleTot));\nmessage += \" kWh\\n\\nLiebe Gruesse von (Lud)Milla\\n\\nP.S. \";\naddon0 = \"Es ist dunkel und stickig hier unten.\";\naddon1 = \"Ich habe Hunger. Nur diese Bits und Bytes reichen einfach nicht. ICH WILL SONNE!\";\naddon2 = \"Heute Nacht habe ich eine Maus gefangen. Wollte sie Filu geben, aber der war sogar dafür zu faul.\";\naddon3 = \"Mein Kollege der Wilo-Yonos dreht mal wieder am Rad...\";\naddon4 = \"Habe gerade ein Bad im Boiler genommen. War angenehm war, aber etwas mehr hätten wir da schon noch reinladen können.\";\naddon5 = \"Was sagt eigentlich die PV-Anlage dazu, dass ich viel effizienter bin als sie?\"\naddon6 = \"Wenn du mir einen Kupfernagel gibst, regle ich das mit dem Baum.\"\naddon7 = \"Kennst du den schon? Kommen ein Werkzeugmacher und ein Elektriker und übertreffen den Solarexperten...\\n\\n Nicht lustig?\"\naddon8 = \"Ja, ja... jetzt tust du noch so freundlich und in ein paar Jahren kaufst du dir so ein Fusionsreaktor-Kit für Zuhause und musterst mich aus. Dabei habe ich nicht einmal eine 2. Säule.\"\n\nrandNum = Math.floor(Math.random() * 9);\nswitch(randNum) {\n  case 0:\n    message += addon0;\n    break;\n  case 1:\n    message += addon1;\n    break;\n  case 2:\n    message += addon2;\n    break;\n  case 3:\n    message += addon3;\n    break;\n  case 4:\n    message += addon4;\n    break;\n  case 5:\n    message += addon5;\n    break;\n  case 6:\n    message += addon6;\n    break;\n  case 7:\n    message += addon7;\n    break;\n  case 8:\n    message += addon8;\n    break;\n  default:\n    message += \"Heute habe ich nichts zu sagen.\";\n}\nreturn {topic: msg.topic, payload: message, time: msg.time}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 2440,
    "y": 4520,
    "wires": [["4e698033.061bf8"]]
  },
  {
    "id": "f4f0f438.0c1808",
    "type": "moment",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "",
    "input": "payload",
    "inputType": "msg",
    "inTz": "Europe/Zurich",
    "adjAmount": "2",
    "adjType": "hours",
    "adjDir": "add",
    "format": "DD.MM.yyyy",
    "locale": "en_GB",
    "output": "time",
    "outputType": "msg",
    "outTz": "Europe/Zurich",
    "x": 2240,
    "y": 4520,
    "wires": [["97916572.b296d8"]]
  },
  {
    "id": "4e698033.061bf8",
    "type": "e-mail",
    "z": "f1c3bb0e.a936f",
    "server": "asmtp.mail.hostpoint.ch",
    "port": "465",
    "secure": true,
    "tls": true,
    "name": "fuerer@der-art.ch",
    "dname": "",
    "x": 2630,
    "y": 4520,
    "wires": []
  },
  {
    "id": "58ba4f2a.9c1b28",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/timeHours",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 1940,
    "y": 4600,
    "wires": [["3b2d343d.af5efc"]]
  },
  {
    "id": "e9ae2a84.10fc48",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/timeMinutes",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 1950,
    "y": 4640,
    "wires": [["55787f27.6b075"]]
  },
  {
    "id": "3b2d343d.af5efc",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "flow.set('timeHours',msg.payload)\nreturn {payload: null}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 2140,
    "y": 4600,
    "wires": [[]]
  },
  {
    "id": "55787f27.6b075",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "flow.set('timeMinutes',msg.payload)\nreturn {payload: null}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 2140,
    "y": 4640,
    "wires": [["a21e81b2.025ba8"]]
  },
  {
    "id": "1fabd115.68a087",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "c6ec464d.b9e02",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Arduino Systemzeit",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 2650,
    "y": 4620,
    "wires": []
  },
  {
    "id": "f1d54482.75d248",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "h = flow.get('timeHours');\nm = flow.get('timeMinutes');\ntime = String(h) + \":\" + String(m) + \" Uhr\";\nreturn {payload: time}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 2480,
    "y": 4620,
    "wires": [["1fabd115.68a087"]]
  },
  {
    "id": "a21e81b2.025ba8",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 2320,
    "y": 4620,
    "wires": [["f1d54482.75d248"]]
  },
  {
    "id": "2a5b448a.95009c",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "value = Number(msg.payload);\nreturn {payload: value, topic:\"Solltemperatur\"}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 400,
    "y": 2940,
    "wires": [["a4dcfef5.ee8ff8"]]
  },
  {
    "id": "a4dcfef5.ee8ff8",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "",
    "op2": "0",
    "op1type": "pay",
    "op2type": "str",
    "duration": "-15",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 630,
    "y": 2940,
    "wires": [["ecc83b19.c913"]]
  },
  {
    "id": "13318739.f57f79",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/stellwerkWP",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 110,
    "y": 580,
    "wires": [["3cc88b8d.07e6c4"]]
  },
  {
    "id": "3cc88b8d.07e6c4",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "pay",
    "op2type": "payl",
    "duration": "-10",
    "extend": false,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "outputs": 1,
    "x": 910,
    "y": 580,
    "wires": [["2e34db8a.19f914"]]
  },
  {
    "id": "912ed701.114bc",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "1acdcf63.66bd71",
    "order": 7,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Stellwerk WP",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1830,
    "y": 600,
    "wires": []
  },
  {
    "id": "2e34db8a.19f914",
    "type": "change",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "rules": [
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "2",
        "fromt": "str",
        "to": "Wärmetauscher",
        "tot": "str"
      },
      {
        "t": "change",
        "p": "payload",
        "pt": "msg",
        "from": "1",
        "fromt": "str",
        "to": "direkt",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1480,
    "y": 580,
    "wires": [["912ed701.114bc"]]
  },
  {
    "id": "deb58271.cc16f",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/startTime",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 1940,
    "y": 4740,
    "wires": [["c71ec91a.f1c66"]]
  },
  {
    "id": "899c04a7.a892a",
    "type": "moment",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "",
    "input": "payload",
    "inputType": "msg",
    "inTz": "Europe/Zurich",
    "adjAmount": "0",
    "adjType": "hours",
    "adjDir": "subtract",
    "format": "DD.MM.YY HH:mm",
    "locale": "en_GB",
    "output": "payload",
    "outputType": "msg",
    "outTz": "Europe/Zurich",
    "x": 2580,
    "y": 4740,
    "wires": [["30206a5f.11a31e"]]
  },
  {
    "id": "30206a5f.11a31e",
    "type": "ui_text",
    "z": "f1c3bb0e.a936f",
    "group": "c6ec464d.b9e02",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Arduino gestartet",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 2870,
    "y": 4740,
    "wires": []
  },
  {
    "id": "c71ec91a.f1c66",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "",
    "op2": "",
    "op1type": "date",
    "op2type": "nul",
    "duration": "250",
    "extend": false,
    "units": "ms",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2230,
    "y": 4740,
    "wires": [["899c04a7.a892a"]]
  },
  {
    "id": "b7ba1f76.3ecc7",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/fullMiddle",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 100,
    "y": 440,
    "wires": [["e8561c64.6725c"]]
  },
  {
    "id": "36b82815.7ae89",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 3040,
    "y": 660,
    "wires": [["5c0d6e6b.060448"]]
  },
  {
    "id": "6ff334fb.840344",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "x": 3040,
    "y": 620,
    "wires": [["d0a943d2.5a9918"]]
  },
  {
    "id": "4302a9d7.ba7ce8",
    "type": "ui_gauge",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "6d76b9fb.78fc7",
    "order": 12,
    "width": 4,
    "height": 3,
    "gtype": "gage",
    "title": "Helligkeit",
    "label": "klux",
    "format": "{{value | number:1}}",
    "min": "0",
    "max": "90",
    "colors": ["#666100", "#fffc41", "#fefcdd"],
    "seg1": "",
    "seg2": "",
    "x": 3140,
    "y": 560,
    "wires": []
  },
  {
    "id": "c838390a.6b0e28",
    "type": "subflow:7b77d71d.d98f",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "env": [],
    "x": 2680,
    "y": 560,
    "wires": [["387529da.ba2c7e"]]
  },
  {
    "id": "e8561c64.6725c",
    "type": "link out",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "links": ["b286bbdd.077708"],
    "x": 715,
    "y": 420,
    "wires": []
  },
  {
    "id": "b286bbdd.077708",
    "type": "link in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "links": ["e8561c64.6725c"],
    "x": 2115,
    "y": 540,
    "wires": [["6ff334fb.840344", "36b82815.7ae89"]]
  },
  {
    "id": "3496e006.b4dc7",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/luxMiddle",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 100,
    "y": 400,
    "wires": [["e8561c64.6725c", "58234775.eb3138"]]
  },
  {
    "id": "6cf815d.ed4a6ec",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/visibleMiddle",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 350,
    "y": 400,
    "wires": [["e8561c64.6725c"]]
  },
  {
    "id": "cdab071a.9149d8",
    "type": "mqtt in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "topic": "derart/irMiddle",
    "qos": "2",
    "datatype": "auto",
    "broker": "5985cf37.8d0c48",
    "x": 340,
    "y": 440,
    "wires": [["e8561c64.6725c"]]
  },
  {
    "id": "715287bd.c6ed48",
    "type": "link in",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "links": ["58234775.eb3138"],
    "x": 2115,
    "y": 500,
    "wires": [["c838390a.6b0e28"]]
  },
  {
    "id": "58234775.eb3138",
    "type": "link out",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "links": ["715287bd.c6ed48"],
    "x": 715,
    "y": 380,
    "wires": []
  },
  {
    "id": "d0a943d2.5a9918",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "2f5003a7.2814a4",
    "order": 5,
    "width": 24,
    "height": 6,
    "label": "Helligkeit",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm",
    "interpolate": "bezier",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "700",
    "removeOlderUnit": "86400",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 3340,
    "y": 620,
    "wires": [[]]
  },
  {
    "id": "8d067ef9.866e6",
    "type": "ui_chart",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "group": "e51e3eb8.acb06",
    "order": 4,
    "width": 24,
    "height": 6,
    "label": "Helligkeit",
    "chartType": "line",
    "legend": "true",
    "xformat": "dd HH:mm",
    "interpolate": "bezier",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "1000",
    "removeOlderUnit": "604800",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "useOldStyle": false,
    "outputs": 1,
    "x": 3660,
    "y": 660,
    "wires": [[]]
  },
  {
    "id": "387529da.ba2c7e",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "num = Number(msg.payload);\nnum = num/1000;\n\n\nreturn {payload: num};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 2880,
    "y": 560,
    "wires": [["4302a9d7.ba7ce8"]]
  },
  {
    "id": "5c0d6e6b.060448",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "15",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "x": 3370,
    "y": 660,
    "wires": [["8d067ef9.866e6"]]
  },
  {
    "id": "3134d0d8.be0cf8",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "false",
    "op2": "true",
    "op1type": "bool",
    "op2type": "bool",
    "duration": "5",
    "extend": true,
    "units": "min",
    "reset": "",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2040,
    "y": 880,
    "wires": [["fc8f0940.c6c658", "e128919b.d71e5"]]
  },
  {
    "id": "e9a65e36.f8ab6",
    "type": "http request",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "query",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 2990,
    "y": 800,
    "wires": [["c6cdc9e9.ca1f38"]]
  },
  {
    "id": "6dccb4aa.6c96b4",
    "type": "function",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "func": "konto = \"3406\";\npassword = msg.secret;\nservice = \"7230\";\nmessage = \"ALARM:%20Die%20Solaranlage%20ist%20ausgefallen!%20Bitte%20neustarten!\";\nfrom = \"Solaranlage\";\nto= msg.payload;\n\nurl = \"https://www.lox24.eu/API/httpsms.php?konto=\" + konto + \"&password=\" + password + \"&service=\" + service + \"&text=\" + message + \"&from=\" + from + \"&to=\" + to + \"&httphead=0\";\n\nreturn {url: url};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 2760,
    "y": 800,
    "wires": [["e9a65e36.f8ab6", "c6cdc9e9.ca1f38"]]
  },
  {
    "id": "fc8f0940.c6c658",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "0041797164443",
    "op2": "",
    "op1type": "str",
    "op2type": "nul",
    "duration": "-10",
    "extend": false,
    "units": "min",
    "reset": "false",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2270,
    "y": 760,
    "wires": [["2ecde6e1.125e82"]]
  },
  {
    "id": "c6cdc9e9.ca1f38",
    "type": "debug",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2940,
    "y": 860,
    "wires": []
  },
  {
    "id": "1be46c53.39d684",
    "type": "trigger",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "op1": "0041795085611",
    "op2": "",
    "op1type": "str",
    "op2type": "nul",
    "duration": "-10",
    "extend": false,
    "units": "min",
    "reset": "false",
    "bytopic": "all",
    "topic": "topic",
    "outputs": 1,
    "x": 2270,
    "y": 800,
    "wires": [["2ecde6e1.125e82"]]
  },
  {
    "id": "e128919b.d71e5",
    "type": "delay",
    "z": "f1c3bb0e.a936f",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 2370,
    "y": 880,
    "wires": [["1be46c53.39d684"]]
  },
  {
    "id": "2ecde6e1.125e82",
    "type": "secret",
    "z": "f1c3bb0e.a936f",
    "name": "locApiKex",
    "x": 2560,
    "y": 800,
    "wires": [["6dccb4aa.6c96b4"]]
  }
]
